@font-face {
  font-family: "Atari Classic";
  src: url("../public/AtariClassic.ttf")
}
* {
  font-family: AtariClassic ;
}
body {
  background-color: black;
  color: white;position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}
canvas{
  
  border: 2px solid grey;
  font-family: "Atari";
}
#dig {
  width: 500px;
  image-rendering: pixelated;
}
#joy {
  width: 200px;
  image-rendering: pixelated;
}